<!--er: 1px solid black; height: 700px; width: 700px">
  <div style="border: 1px solid black; height: 68px; width: 68px">
  </div>
  <div style="border: 1px solid black; height: 68px; width: 68px">
  </div>
  <div style="border: 1px solid black; height: 68px; width: 68px">
  </div>
  <div style="border: 1px solid black; height: 68px; width: 68px">
  </div>
  <div style="border: 1px solid black; height: 68px; width: 68px">
  </div>
  <div style="border: 1px solid black; height: 68px; width: 68px">
  </div>
  <div style="border: 1px solid black; height: 68px; width: 68px">
  </div>
  <div style="border: 1px solid black; height: 68px; width: 68px">
  </div>
  <div style="border: 1px solid black; height: 68px; width: 68px">
  </div>
  <div style="border: 1px solid black; height: 68px; width: 68px">
  </div>

</div>-->
<table class="center">
  <tr *ngFor="let row of board">
    <td *ngFor="let box of row">
      <img *ngIf="box['Apple']" src="../assets/apple.jpg" height="65" width="65" id="food"/>
      <img *ngIf="box['SnakeHead']" src="../assets/GreenCircle.png" height="65" width="65" id="snake"/>
      <img *ngIf="box['Tail'] && !box['SnakeHead']" src="../assets/GreenCircle.png" height="65" width="65" id="tail"/>
    </td>
  </tr>
</table>
